{
    margin:0;
    padding:0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(wp9090.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh
}
.navbar{
    width: 100px;
    float: left;
    height: 70px;
}
.logo{
    color: orangered;
    font-size: 30px;
    font-family: Arial;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: absolute;
    top: 100px;
    left: 120px;
    width: 100%;
    background: black;
    border-radius: 10px;
    width: 1000px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content .cn{
    width: 130px;
    height: 40px;
    background: orangered;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover{
    background-color: white;
}

.content span{
    color: orangered;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
     background: linear-gradient(to  top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8));
     position: absolute;
     top: 0px;
     left: 1300px;
     border-radius: 10px;
     padding: 25px;

}

 .form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
 }

 .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
 }
 .form input :focus{
    outline: none;
 }

 ::placeholder{
    color: white;
    font-family: Arial;
 }

 .btnn{
  width: 240px;
  height: 40px;
  background: orangered;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.4s ease;
 }

.btnn:hover{
    background: white;
    color: orangered;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
}
.form .link a{
 text-decoration: none;
 color: orangered;
}

.liw{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: white;
}
.icon ion-icon{
    color: white;
    font-size: 60px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icon ion-icon:hover{
    color: orangered;
}
.contect{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: absolute;
    top: 100px;
    left: 600px;
    width: 100%;
}
.contect .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 40px;
}

.contect h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
    color: orangered;
    font-weight: bold;
    background: black;
    width: 260px;
    border-radius: 15px;
    border: white;
}
ion-icon[name="call"] {
    font-size: 40px; /* Adjust the size as needed */
    color: rgb(8, 36, 128); /* Set the color */
    vertical-align: middle; /* Align it with the adjacent text */
    background: white;
    border-radius: 12px;
  }

  ion-icon[name="logo-facebook"] {
    font-size: 43px; /* Adjust the size as needed */
    color: #2e54a1; /* Set the color */
    vertical-align: middle; /* Align it with the adjacent text */
    background: white;
    border-radius: 12px;
  }
  
  ion-icon[name="logo-instagram"] {
    font-size: 43px; /* Adjust the size as needed */
    color:   white; /* Set the color */
    vertical-align: middle; /* Align it with the adjacent text */
    background: #E1306c;
    border-radius: 12px;
  }

  ion-icon[name="mail"] {
    font-size: 40px; /* Adjust the size as needed */
    color:  white; /* Set the color */
    vertical-align: middle; /* Align it with the adjacent text */
    background: rgb(105, 4, 4);
    border-radius: 12px;
  }
  ion-icon[name="location-outline"] {
    font-size: 40px; /* Adjust the size as needed */
    color: rgb(8, 36, 128); /* Set the color */
    vertical-align: middle; /* Align it with the adjacent text */
    background: white;
    border-radius: 20px;
    position: absolute;
    left: 200px;
  }

  a ion-icon {
    font-size: 24px;
    color: #555;
  }