{
    margin:0;
    padding:0;
}
.about{
    width:100%;
    background: black;
    background-position: center;
    background-size: cover;
    height: 1480vh
}
.navbar{
    width: 100px;
    float: left;
    height: 70px;
}
.logo{
    color: orangered;
    font-size: 30px;
    font-family: Arial;
 text-align: center;
 line-height: 18px;
}
.Images{
    width: 20px;
    height: 15px;
    border: 2px solid white;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
.Images:hover{
    filter: grayscale(.01);
    transform: scale(1.03);
}
.m{
    width: 1700px;
    height: auto;
    border: 2px solid white;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;  
}
.c{
    width: 1700px;
    height: auto;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;  
}
 