* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.logo {
   color: orangered;
   font-size: 30px;
   font-family: Arial;
}

.container {
   padding: 2rem;
   height: 100%;
   background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(wp5539841.jpg);
   background-position: center;
   background-size: cover;
}

.slider-wrapper {
   position: relative;
   max-width: 80%;
   margin: 0 auto;   
}

.slider {
   display: flex;
   aspect-ratio: 16/9;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 1rem;
}

.slider img {
   flex: 0 0 100%; 
   scroll-snap-align: start;
   object-fit: cover;
   width: 100%; 
   height: auto; 
}

.slider-nav {
   display: flex;
   column-gap: 1rem;
   position: absolute;
   bottom: 1.25rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
}

.slider-nav a {
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: orangered;
   opacity: 0.75;
   transition: opacity ease 250ms;
}

.slider-nav a:hover {
   opacity: 1;
}
